body{
    font-family: sans-serif;
    color: white;
}
.card{
    background-color: #6ac;
    text-align: center;
    width: 400px;
    margin: auto;
    margin-top: 50px;
    padding: 20px 10px;
    box-shadow: 0 0 35px 0 #0006;
    border-radius: 8px;
    display: inline-block;
    margin: 20px;
}

.card_title{
    padding-top: 10px;
    font-size: 22px;
    margin: 0;
    text-transform: uppercase;
}

.card_subtitle{
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0;
    margin-top: 5px;
    text-transform: capitalize;
}

.card_content{
    font-size: 13px;
    text-align: justify;
    line-height: 1.4;
    padding: 10px 20px;
    margin-bottom: 0;
}

.card_img{
    width: 200px;
    border-radius: 100%;
}

.red_card{
    background-color: #d55;
}

.green_card{
    background-color: #5c7;
}